<div class="home-container">
  <h1>Bienvenido a <span class="highlight">PlaylistApp</span></h1>
  <p class="subtitle">Organiza y disfruta tus playlists favoritas de forma fácil y rápida.</p>

  <div class="actions">
    <a routerLink="/create" class="btn btn-primary">Crear Nueva Playlist</a>
    <a routerLink="/lists" class="btn btn-secondary">Ver Mis Playlists</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary">Iniciar Sesión</a>
  </div>

  <img src="https://cdn-icons-png.flaticon.com/512/727/727245.png" alt="Playlist Icon" class="home-image" />
</div>
